    char {
        border: 1px black solid;
    }
    .movable {
        background-color: blue;
    }

    arrow {
        background-image: url("jjy's arrow.png");
        background-size: contain;
        background-repeat: no-repeat ;
        display: block;
        width: 200px;
        height: 100px;   
    }